.edit-product-form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    color: black;
    justify-content: center;

}

.edit-product-form{
    border: 0.5rem solid #dfc2c1;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25rem;
}
.edit-form-group{
    margin-bottom: 1.5rem;
}



.edit-form-group label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.edit-form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 0.15rem solid #dfc2c1;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #eae4d7 ;
    color: black;
}

.save-button{
    width: 100%;
    padding: 0.75rem;
    background-color: #dfc2c1;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.save-button:hover {
    background-color: #edd1d0;
}
